<!DOCTYPE html>
<html lang="de">
    <!--Unsichtbarer Teil der Website-->
    <!--Grundlegende Einstellung der Seite-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Titel der Seite im Browser-Tab-->
    <title>N27 - Login</title>
  </head>

  <!--  Alles, was auf der Seite im Browswerfenster angezeigt werden soll muss im Body stehen.-->
  <body>
    <h1>Bitte anmelden!</h1>
    <!-- Element, das etwas anzeigt -->
    <label>Benutzer-ID</label>
    <!-- Element vom Typ Text, in das getippt werden kann -->
    <input type="text" name="benutzerId">
    <label>Kennwort:</label>
    <!-- Element vom Typ Passwort, das Eingaben maskiert -->
    <input type="password" name="password">
    <!-- Element vom Typ Button, das eine Schaltfläche zeigt -->
    <input type="button" name="Anmelden" value="Anmelden"> 

  </body>
</html>