<!DOCTYPE html>
<html lang="de">
  <!--Unsichtbarer Teil der Webseite-->
  <!--Grundlegende Einstellungen der Seite-->
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    

<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="theme-color" content="#ffffff">


    <!--Titel der Seite im Browser-Tab-->
    <title>N27 - Login</title>
  </head>

  <!-- Alles, was auf der Seite im Browserfenster angezeigt werden soll, muss im body stehen.-->
  <body>
    <h1>Bitte anmelden!</h1>
    <form method="POST" action="/">
      <!-- Element, das etwas anzeigt -->
      <label>Benutzer-ID:</label>
      <!-- Element vom Typ Text, in das getippt werden kann -->
      <input type="text" name="idKunde">
      <label>Kennwort:</label>
      <!-- Element vom Typ Password, das Eingaben maskiert -->
      <input type="password" name="kennwort">
      <!-- Element vom Typ Button, das eine Schaltfläche zeigt -->
      <button>Login</button>
    </form>     
  </body>
</html>