<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Klasse Objekt EJS Training</title>
</head>
<body>
<h1>EJS</h1>
Clientseitige Uhrzeit: <%= new Date () %>
<br>
Severseitige Uhrzeit: <%= Uhrzeit %>
<br>
<%= willkommen %>
<br>
Das Ergebnis von 1 + 1 ist <%= ergebnis %>
</body>
</html>